<#ftl encoding='UTF-8'>
<head>

</head>
<body>
<div class="content-block">
    <form class="form-horizontal" action="/sign-up/teacher" method="post">
        <input name="name" type="text" placeholder="Имя">
        <input name="lastName" type="text" placeholder="Фамилия">
        <input name="login" type="text" placeholder="Логин">
        <input name="password" type="password" placeholder="Пароль">
        <input type="submit">
    </form>
</div>
</body>